$beige: #fff8b5;
$brown: #807c5b;
$beige-dark1: #e7e1a9;
$beige-dark2: #ccc796;

@font-face {
  font-family: 'Brush King';
  src: local('Brush King'), url('../fonts/brush-king.otf') format('opentype');
}

// Media query mixins
// Smartphone
@mixin mediaSm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

// Tablet
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Small desktop & laptop.
@mixin mediaLg {
  @media screen and (max-width: 992px) {
    @content;
  }
}

// Widescreen.
@mixin mediaXl {
  @media screen and (max-width: 1171px) {
    @content;
  }
}
