$beige: #fff8b5;
$brown: #807c5b;
$beige-dark1: #e7e1a9;
$beige-dark2: #ccc796;

@font-face {
  font-family: 'Brush King';
  src: local('Brush King'), url('../fonts/brush-king.otf') format('opentype');
}
