@include mediaXl {
  body#contact {
    .card {
      &-title {
        font-size: 0.9rem;
      }

      .details-header {
        font-size: 0.8rem;
      }
    }
  }

  body#projects {
    .project {
      .content-header {
        h2 {
          font-size: 1.1rem;
        }

        h3 {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@include mediaLg {
  .mainNav {
    .nav-link {
      font-size: 0.8rem;

      &:after {
        height: 2px;
      }
    }
  }

  body#about {
    .control-bottom {
      li {
        margin: 0 5px;
      }
    }
  }

  body#projects {
    .tags {
      .tag {
        flex: 1 1 110px;
        max-width: 110px;
        margin: 0 6px 6px;
      }
    }

    .project {
      .content-header {
        h2 {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@include mediaMd {
  .mainNav {
    &-menu {
      position: absolute;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      background-color: $brown;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all 400ms ease-out;

      .menu-nav {
        width: 100%;
        flex-direction: column;
      }

      div {
        margin-bottom: 0.5rem;
      }

      .nav-link {
        display: block;
        text-align: center;
        height: 40px;
        border: 1px solid rgba($beige, 0.3);
        font-size: 1rem;
        line-height: 40px;
        transition: background 200ms ease-out;

        &:hover::after,
        &.active::after {
          display: none;
        }

        &:hover {
          background-color: darken($brown, 5);
        }

        &.active {
          background-color: darken($brown, 10);
        }

        &:not(:last-child) {
          border-bottom: none;
        }
      }

      .menu-social {
        .social-link {
          margin: 0 0.5rem;

          img {
            width: 30px;
          }
        }
      }
    }

    &-menuToggle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      background-color: darken($brown, 5);
      border: 1px solid rgba(white, 0.6);
      border-radius: 5px;
      cursor: pointer;
      transition: all 300ms ease-out;

      .btn-line {
        width: 60%;
        height: 2px;
        background-color: rgba(white, 0.6);
        transition: all 300ms ease-out;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &:hover {
        border: 1px solid rgba(white, 0.9);

        .btn-line {
          background-color: rgba(white, 0.9);
        }
      }

      &.show {
        transform: rotate(180deg);

        .btn-line {
          &:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }

        & + .mainNav-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }

  body#home {
    .links {
      a {
        font-size: 3.4rem;
      }
    }

    .brand-logo {
      width: 70%;
    }
  }

  body#about {
    .item-wrapper {
      flex-direction: column;
    }

    .content {
      width: 90%;
      margin-bottom: 1rem;
    }

    .image {
      width: 40%;
    }

    .carousel-controls {
      .side-control {
        opacity: 1;
        background-color: rgba(#ccc, 0.5);
      }
    }

    .express {
      .image {
        margin-top: 2rem;
      }
    }

    .mongodb {
      .image {
        margin-top: 1rem;
        img {
          width: 100%;
        }
      }
    }
  }

  body#contact {
    .card {
      &-image {
        width: 60%;
      }
    }

    .contact {
      width: 100%;
      height: 60px;

      &-logo {
        width: 20%;
      }

      &-text {
        font-size: 1.2rem;
        line-height: 60px;
      }

      .copyBtn {
        width: 15%;
        font-size: 0.8rem;
      }

      &.copied .contact-text {
        &:before {
          left: calc(100% + 10px);
          width: 20px;
          height: 20px;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  body#projects {
    .project {
      .content-header {
        h2 {
          font-size: 1.2rem;
        }

        h3 {
          font-size: 1rem;
        }
      }

      &-showDetailBtn {
        display: inline-block;
      }
    }
  }
}

@include mediaSm {
  .container {
    width: 90%;
  }

  body#home {
    .links {
      a {
        font-size: 2.6rem;

        &.projects {
          .link-text {
            top: 12%;
          }
        }

        &.contact {
          .link-text {
            bottom: 12%;
          }
        }
      }
    }
  }

  body#about {
    .section-title {
      margin-bottom: 1.4rem;

      h2 {
        width: 120px;
        font-size: 2.5rem;
        padding: 0.1rem 0;
      }
    }

    .carousel {
      height: 540px;
    }

    .content {
      width: 90%;
      margin-bottom: 1rem;
    }

    .skill-name {
      padding: 0.3rem;
      margin-bottom: 0.6rem;

      h3 {
        font-size: 2rem;
      }
    }

    .skill-description {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }

    .image {
      width: 60%;
    }

    .carousel-controls {
      .side-control {
        width: 30px;

        &:before {
          left: -7px;
        }

        &.control-right {
          &:before {
            left: 0;
          }
        }
      }

      .control-bottom {
        li {
          margin: 0 3px;
        }
      }
    }
  }

  body#projects {
    .projects {
      grid-template-columns: 100%;
    }

    .project {
      .content-header {
        h2 {
          font-size: 0.8rem;
        }

        h3 {
          font-size: 0.8rem;
        }
      }

      .content-text {
        p {
          padding: 1rem 0.5rem;
        }
      }
    }
  }

  body#contact {
    .card {
      &-image {
        width: 80%;
      }
    }

    .contact {
      &-text {
        font-size: 1.1rem;
      }
    }
  }
}
