@import 'config';

.section-title {
  text-align: center;
  margin-bottom: 1.8rem;

  * {
    font-weight: 400;
  }
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $brown;
    background: linear-gradient(
      145deg,
      rgba(255, 248, 181, 1) 0%,
      rgba(128, 124, 91, 1) 40%,
      rgba(64, 62, 47, 1) 100%
    );
    height: 300px;
    overflow: hidden;

    &-image {
      width: 80%;
      text-align: center;

      img {
        filter: drop-shadow(0 0 3px black);
      }
    }

    &-title {
      margin-top: 0.5rem;
      font-family: 'Brush King';
      color: $beige;
      letter-spacing: 0.1rem;
      text-shadow: 2px 2px 3px black;
    }

    &-details {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba($color: black, $alpha: 0.9);
      color: white;
      opacity: 0;
      visibility: hidden;

      transition: opacity 500ms ease-out, visibility 500ms ease;
    }

    &:hover {
      .card-details {
        opacity: 1;
        visibility: visible;
      }

      .details-header,
      .details-description {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .details-header,
    .details-description {
      opacity: 0;
      transition: all 300ms ease-out;
    }

    .details-header {
      margin-bottom: 1rem;
      transform: translateY(-10px);

      h3 {
        font-family: 'Brush King';
        text-align: center;
      }
    }

    .details-description {
      transform: translateY(10px);

      p {
        line-height: 1.3rem;
        padding: 0 2rem;
      }
    }

    &.scratch {
      grid-row: 1/3;
      height: 100%;
    }
  }
}

.contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  margin: 0 auto 1rem auto;

  &-logo {
    width: 10%;
    height: 100%;
    background: url('../images/logo-gmail-transparent.png') no-repeat center/80%;
    border: 1px solid rgba(black, 0.5);
    border-radius: 5px;
    margin-right: 1rem;
  }

  &-text {
    flex: 1;
    border: 1px solid rgba(black, 0.5);
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 80px;
  }

  &-copyBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    background-color: $beige;
    border: 1px solid rgba(black, 0.5);
    border-radius: 0 5px 0 5px;
    padding: 2px 10px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $beige-dark1;
    }

    &:active {
      background-color: $beige-dark2;
    }
  }

  &.telegram .contact-logo {
    background-image: url('../images/logo-telegram-transparent.png');
  }

  &.whatsapp .contact-logo {
    background-image: url('../images/logo-whatsapp-transparent.png');
  }
}
