@import 'config';

body {
  padding: 0;
  overflow: hidden;
}

.brand-logo {
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}

.links {
  display: flex;
  width: 100%;
  height: 100%;

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 4rem;
    transition: background-color 300ms ease-out;

    .link-text {
      position: absolute;
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      transition: transform 300ms ease-out;
    }

    &.projects {
      background-color: $brown;
      color: $beige;

      clip-path: polygon(0 0, 0% 100%, 100% 0);

      .link-text {
        left: 6%;
        top: 10%;
      }

      &:hover {
        background-color: darken($brown, 5);

        .link-text {
          transform: scale(1.2);
        }
      }

      &:active {
        background-color: darken($brown, 10);
      }
    }

    &.contact {
      background-color: $beige;
      color: $brown;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);

      .link-text {
        right: 6%;
        bottom: 10%;
      }

      &:hover {
        background-color: $beige-dark1;

        .link-text {
          transform: scale(1.2);
        }
      }

      &:active {
        background-color: $beige-dark2;
      }
    }
  }
}
