@import 'config';

.page-section {
  margin-bottom: 2rem;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .tag {
    flex: 1 1 200px;
    max-width: 140px;
    margin: 0 10px;
    padding: 5px 0;
    background-color: $brown;
    color: $beige;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($brown, 5);
    }

    &:active {
      background-color: darken($brown, 10);
    }

    &.selected {
      background-color: $beige;
      color: $brown;

      &:hover {
        background-color: $beige-dark1;
      }

      &:active {
        background-color: $beige-dark2;
      }
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.2rem;

  .project {
    position: relative;
    height: 460px;
    background-color: red;
    overflow: hidden;

    &-title {
      padding: 20px;

      h2 {
        color: white;
        font-family: 'Brush King';
        letter-spacing: 0.1rem;
      }
    }

    &-content {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: 20px 20px;
      // background-color: rgba(black, 0.95);
      background-image: linear-gradient(to right, rgba(black, 0.9) 50%, rgba(black, 0.3) 100%);
      color: white;
      transform: translateX(-100%);
      transition: transform 500ms ease-out;

      & > *:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .content-header {
      h2 {
        font-family: 'Brush King';
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
      }

      h3 {
        font-weight: 400;
        font-size: 0.9rem;
      }
    }

    .content-text {
      p {
        width: 80%;
        padding: 1.4rem 0.5rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
    }

    .content-action {
      display: flex;
      flex-direction: column;
      width: 100%;

      a {
        position: relative;
        display: inline-block;
        width: 120px;
        color: white;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
        border: 1px solid white;
        border-radius: 5px;
        transition: padding 200ms ease-out;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &:after {
          position: absolute;
          right: 0;
          top: -6px;
          display: block;
          opacity: 0;
          color: white;
          font-size: 2rem;
          transition: all 200ms ease-out;
          content: '»';
        }

        &:hover {
          padding-right: 11px;

          &:after {
            opacity: 1;
            transform: translateX(-5px);
          }
        }

        &.demo {
          background-color: $beige;
          color: black;

          &:after {
            color: black;
          }
        }
      }
    }

    &:hover .project-content {
      transform: translateX(0);
    }

    &.gloria {
      background-color: #a8e80c;
    }

    &.heshley {
      background-color: #3b230c;
    }
  }
}
